@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css');
@import url("https://afeld.github.io/emoji-css/emoji.css");
@import url('https://fonts.googleapis.com/css?family=Signika');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #FFF8F9;
    font-family: 'Ubuntu', sans-serif;
    color: #2b2c2d;
    display: grid;
    justify-items: center;
    line-height: 180%;
    width: 100%;
}

.description, .project-title, .header-links{
    font-family: 'Signika';
}

.description{
    font-size: 120%;
}

.wrapper, .content, .description, aside > footer, video, hr, .project-links{
    margin-top: 12.5px;
}

.project{
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #F93177;
    transition: 0.3s 0.05s ease-in-out;
}

a:hover{
    /* color: deeppink; */
    color: #CC0953;
    /* font-size: 120%; */
    /* transition: all 0.3s 0.05s ease-in-out; */
}

.wrapper{
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    width: 70%;
}

.header{
    grid-area: header;
    display: grid;
    /* grid-auto-columns: repeat(auto-fit(min-max(200px, 1fr))); */
    grid-template-areas:
        "nav";
}

nav.top-nav{
    grid-area: nav;
    display: grid;
    grid-template-areas:
        "brand menu-items";
        justify-content: space-around;

}

.brand{
    grid-area: brand;
    justify-items: center;
    align-items: center;
}

.projects{
    grid-area: projects;
}

.contact{
    grid-area: contact;
}

.resume{
    grid-area: resume;
}

.menu-items{
    grid-area: menu-items;
    display: grid;
    min-width: 40vw;
    grid-template-areas:
        "projects contact resume";
    align-items: center;
    justify-content: space-evenly;
}

.content{
    grid-area: content;
    display: grid;
    /* grid-template-areas: "project-body"; */
    /* justify-items: center; */
    grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6"
        "p7"
        "p8"
        "p9"
        "p10"
}

article.project:nth-of-type(n) {
    grid-area: p1;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(2n) {
    grid-area: p2;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(3n) {
    grid-area: p3;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(4n) {
    grid-area: p4;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(5n) {
    grid-area: p5;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(6n) {
    grid-area: p6;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(7n) {
    grid-area: p7;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(8n) {
    grid-area: p8;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(9n) {
    grid-area: p9;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

article.project:nth-of-type(10n) {
    grid-area: p10;
    display: grid;
    grid-template-areas:
        "header"
        "hr"
        "description"
        "aside"
        "video";
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas:
        "title links";
        align-items: center;
        justify-content: space-between;
}

.project-title{
    grid-area: title;
}

.project-links{
    grid-area: links;
    display: grid;
    min-width: 30vw;
    grid-template-areas:
        "source demo";
}

.source{
    grid-area: source;
    display: grid;
    justify-items: end;
}
.demo{
    grid-area: demo;
    display: grid;
    justify-items: end;
}

.header-links{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    justify-content: space-evenly;
    border: 2px solid #F93177;
    border-radius: 6px;
    min-width: 150px;
}

hr{
    grid-area: hr;
}

.description{
    grid-area: description;
    text-align: justify;
}

aside{
    grid-area: aside;
    display: grid;
    justify-items: center;
    align-items: center;
}

video{
    grid-area: video;
    justify-self: center;
    min-width: 50vw;
    max-width: 100%;
}

.footer{
    grid-area: footer;
    display: grid;
    place-items: center;
}

h1, h2, h3, h4, h5{
    text-align: center;
}

aside > footer{
    font-size: 200%;
}

.description ul {
    list-style: none;
    line-height: 150%;
}

.ES2015-list {
    color: #F93177;
}

hr.header-hr {
    border: 0;
    height: 0;
    /* Firefox... */
    box-shadow: 0 0 1px 0.5px #FBB4BB;
}

hr.header-hr {
    /* Not really supposed to work, but does */
    content: "\00a0";
    /* Prevent margin collapse */
}

aside footer i {
    color: #CC0953;
}

@media screen and (max-width: 600px){
    body{
        line-height: 160%;
    }

    a{
        font-size: 80%;
    }

    a:hover {
        /* color: deeppink; */
        color: #CC0953;
        font-size: 85%;
    }

    .project-title{
        font-size: 95%;
    }

    .description {
        font-size: 80%;
    }

    video{
        width: 100%;
    }

    .wrapper{
        width: 95%;
    }

    nav.top-nav{
        grid-template-areas:
            "brand"
            "menu-items";
    }

   .menu-items{
        grid-template-areas:
            "projects"
            "contact"
            "resume";
   }

   header{
        grid-template-areas:
            "title"
            "links";
        align-items: center;
        justify-content: center;
   }

   header h4{
       display: none;
   }

   .header-links{
       min-width: 40px;
       border-radius: 35%;
   }

   .source, .demo{
       justify-items: center;
   }
}
