@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css');
@import url("https://afeld.github.io/emoji-css/emoji.css");
@import url('https://fonts.googleapis.com/css?family=Signika');


* {
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(227, 239, 245);
    background-color: #A79DE7;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.top-nav {
    max-height: 5%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

}

h3 {
    font-size: 125%;
    margin: auto 15px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s 0.05s ease-in-out;
}

a:hover {
    color: deeppink;
    font-size: 120%;
}

.brand{
    color: ivory;
    transition: 0.3s 0.05s ease-in-out;
}

.brand:hover {
    color: purple;
}

.main-content {
    min-height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 3 1 auto;
    align-items: center;
}

section {
    min-height: 350px;
    box-sizing: border-box;
    min-width: 40%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    flex: 0.5 1 auto;
    align-items: center;
    justify-content: center;
}

section p {
    font-size: 150%;
    line-height: 170%;
    width: 100%;
    text-align: justify;
}

img {
    max-height: 250px;
    max-width: 240px;
    border-radius: 40%;
}

.small-footer {
    font-size: 0.8em;
}

footer i {
    color: red;
}

/* .left{
    height: 100%;
    justify-content: space-between;
} */

.middle {
    min-width: 5%;
    max-width: 5%;
    padding: 0 5px;
}

.middle nav {
    display: flex;
    flex: 0.5 1 auto;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
}

span {
    padding: 15px inherit;
}

.left p {
    font-size: 0.9em;
}

h4 {
    min-width: 200px; 
    text-align: left;
}

.middle nav a {
    color: darkmagenta;
    transition: 0.3s 0.03s ease-in-out;
}

.middle nav a:hover {
    color: antiquewhite;
    font-size: 150%;
}

#email {
    color: inherit;
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    .top-nav {
        flex-direction: column;
    }
    .main-content {
        flex-direction: column;
    }
    .menu-items {
        flex-direction: column;
        margin: 15px;
    }
    .middle {
        min-width: 50%;
        min-height: 50%;
        padding: 5px;
        /* order: 2; */
    }
    .middle nav {
        flex-direction: row;
        min-width: 100%;
    }
    section p {
        font-size: 100%;
        /* line-height: 100%; */
    }
    section {
        min-height: auto;
    }
    h2{
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}